
*{margin:0; padding: 0; box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
    position:relative;
}
/************section 1  start************/

.section1{
position:absolute;
    display: block;
    width: 100%;
    height: 100vh;
    background: url("https://image.freepik.com/free-photo/paperboard-yellow-texture_95678-83.jpg");
   background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}

.logo-first-pg{
  max-width:55%;
justify-content: center;
text-align:center;
margin-top:8%;
filter: brightness(0);
filter: contrast(1.3);
filter: saturate(1.5);
display:block;
margin-left:auto;
margin-right:auto;
z-index:2;
}



.newimg{
  position:absolute;
  z-index: -999;
bottom:0;
z-index:5;  height:25vh;
width:100%;
opacity: 0.2;
padding-bottom:1%;
}
/*************dropdown start **********/
.section1 .dropdown{
  position: absolute; top:50%; left:50%;  transform: translate(-50%,-50%); z-index:5;
  margin-left:1%;
  margin-top:0.1%;
  z-index: 2;
  cursor: pointer;
  
  
}
.section1 .dropdown .btn {
  cursor: pointer;
  font-size: 1.6rem;  
  border: none;
  outline: none;
  padding:1rem;
  background-color: #633d00;
  color:white;
  font-weight:500;
  overflow-y: auto;
  max-height: 400px;

}
.force-scroll {
  overflow-y: scroll;
  height: 130px;
  
  }
.section1 .dropdown .btn , .btn:hover .dropbtn:focus {
  background-color: #774a01de;
  border-style: solid;
  border-color: rgba(232, 232, 232, 1);
  border-width: 0.5px;
  border-radius: 0 0 0 0;
}
ul.dropdown-menu {
    
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 140px;
  font-size:1.5rem;
  text-align: left;
  list-style: none;
  margin:0!important;
  padding:0!important;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

ul.dropdown-menu li a{
  padding:4px 10px 5px 13px;
  border-style: solid;
  border-color: rgba(232, 232, 232, 1);
  border-width: 0.5px;
  border-radius: 0 0 0 0;
  font-weight: 500;
}
ul.dropdown-menu li a:hover{
  background-color: #774a01de;
  color:#fff;
}
ul.dropdown-menu li a img{
  padding-right:1rem!important;
  width:3.7rem; height:1.8rem;
}
   /* Style to reverse the caret icon from pointing downwards to upwards */
   .caret.caret-up {
    border-top-width: 0;
    border-bottom: 4px solid #fff;
  }
/********************section 2 end*********************/

/***********Media queries************/

@media only screen and (max-width: 600px){
 
  .logo-first-pg{
    position: static;
  max-width:100%!important;
  margin-top:13%;
 display:block;
 margin-left:auto;
 margin-right:auto;
 padding-top:15%;
  }

 .newimg{max-height:100vh;
  padding-bottom:13% ;}
  .force-scroll {
    height: 106px;
    }
}
@media only screen and (max-width: 768px) {

    .logo-first-pg{
      max-width:100%!important;
  
    margin-top:13%;
   display:block;
   margin-left:auto;
   margin-right:auto;
    }
    .newimg{max-height:25vh;
    
      padding-bottom:22% ;}
      .force-scroll {
        height: 130px;
        }

}



